<header>
    <nav class="header-nav-bar">
        <a href="index.html" id="index">Home</a>
        <a href="about.html" id="about">About</a>
        <a href="skills.html" id="skills">Skills</a>
        <a href="projects.html" id="projects">Projects</a>
        <a href="contact.html" id="contact">Contact</a>
    </nav>
    <div class="header-text">
        <h1>Hi, I'm Long! <br> I'm from <b style="color: red;">Vietnam</b> <img src="/assets/images/vietnam-flag.png" height="80px" alt=""></h1>
    </div>
</header>