:root {
    --normal-text: #0E1F40;
    --border-color: #0E1F40;
    --readonly-border: #bcbcbc;
    --non-active-text: 0.25;
    --dark-blue: #099CFE;
    --medium-dark-blue: #9CD0FF;
    --medium-blue: #C8E3FC;
    --light-blue: #DDEFFF;
    --active-blue: #69B7FF;
    --yellow: #FCFF50;
    --facebook-color: #086DFF;
    --linkedin-color: #0882BD;
    --github-color: #22262A;
    --tel-color: #45B931;
    --facebook-hover-color: #0060e6;
    --linkedin-hover-color: #0070a8;
    --github-hover-color: #393e42;
    --tel-hover-color: #349622;
    --send-button: #006BE5;
    --send-hover-button: #0055b6;
    --reset-button: #D8D8D8;
    --reset-hover-button: #a8a8a8;
}

/* * */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--normal-text);
    font-size: 40px;
    box-sizing: border-box;
    /* border: 1px solid green; */
}

a
{
    text-decoration: none;
}

input
{
    outline: none;
}

textarea
{
    resize: none;
    outline: none;
}

/* BODY */

body {
    height: 695px;
    width: 1536px;
}

/* HEADER */

.header-placeholder {
    background-color: var(--medium-blue);
    background-image: url(/assets/images/background-header-image.jpg);
    background-size: auto 100%;
    background-position: center;
    padding: 10px;
    padding-bottom: 30px;
    height: 40%
}

.header-nav-bar {
    text-align: center;
}

.header-nav-bar a {
    font-weight: bold;
    text-decoration: none;
    margin-left: 90px;
    margin-right: 90px;
    opacity: var(--non-active-text);
    font-size: 30px;
}

.header-nav-bar a:hover {
    color: var(--normal-text);
    opacity: 1;
}

.header-nav-bar a.active {
    color: var(--normal-text);
    opacity: 1;
}

.header-text {
    margin-left: 100px;
    margin-top: 50px;
}

.header-text h1,
.header-text b {
    font-size: 60px;
}

.header-text img {
    height: 50px;
}

/* FOOTER */

.footer-placeholder {
    background-color: var(--dark-blue);
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: white;
    font-size: 20px;
    height: 10%;
}

.footer-placeholder h1 {
    color: white;
    font-size: 20px;
}

/* MAIN */

main {
    padding: 10px;
    background-color: var(--light-blue);
    height: 50%;
}

/* INDEX */

.index-main {
    text-align: center;
}

.index-button-placeholder {
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.index-tab-link {
    text-decoration: none;
}

.index-tab-button {
    padding: 20px;
    border-radius: 30px;
    width: 250px;
    height: 240px;
    margin: 10px 20px;
    border: none;
    background-color: var(--medium-dark-blue);
    font-weight: bold;
}

.index-tab-button:hover {
    background-color: var(--active-blue);
}

.index-tab-button i {
    font-size: 70px;
}

/* ABOUT */

.about-main {
    display: flex;
    margin: auto;
    width: 80%;
    height: 100%;
    margin-top: 20px;
}

.about-main div {
    height: 100%;
}

.about-ava-image {
    margin-left: auto;
}

.about-ava-image img {
    height: 300px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
}

.about-content {
    margin-right: auto;
    margin-left: 30px;
}

.about-content h3 {
    font-size: 40px;
    margin-bottom: 50px;
}

.about-content p,
.about-content b {
    font-size: 30px;
}

/* SKILLS */

.skill-main {
    text-align: center;
}

.skill-group {
    display: flex;
    margin: auto;
    width: 80%;
    margin-top: 10px;
}

.skill-group div {
    margin: auto;
    padding: 20px;
    background-color: var(--medium-dark-blue);
    border-radius: 30px;
    height: 250px;
    width: 250px;
}

.skill-group div:hover {
    background-color: var(--active-blue);
}

.skill-group div h4 {
    font-size: 40px;
    margin-bottom: 20px;
}

.skill-group div p {
    font-size: 30px;
}

/* PROJECTS */

.project-main
{
    display: flex;
}

.project-list
{
    margin-left: auto;
    margin-right: 40px;
    height: 100%;
}

.project-list button, .project-list div
{
    padding: 10px 20px;
    background-color: var(--medium-dark-blue);
    margin-top: 13px;
    border-radius: 20px;
    border: none;
    width: 500px;
    text-align: left;
}

.project-list button:active
{
    background-color: var(--active-blue);
}

.project-list p
{
    font-size: 25px;
}

.project-preview
{
    margin-right: auto;
    margin-left: 40px;
    text-align: center;

}

.project-preview>div
{
    background-color: var(--medium-dark-blue);
    height: 234px;
    margin-top: 13px;
    width: 500px;
    border-radius: 25px;
}

.none-project
{
    display: block;
    padding: 100px 40px;
}

.none-project>p
{
    font-size: 25px;
    text-align: center;
}

.project-demo
{
    padding: 13px 25px;
    display: none;
    position: relative;
}

.project-demo img
{
    max-height: 180px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.project-demo a
{
    position: absolute;
    bottom: 10px;
    left: 50px;
    right: 50px;
    font-size: 20px;
}

.project-demo a i
{
    font-size: 20px;
}

.image-project
{
    display: none;
}

.link-project
{
    display: none;
}

/* CONTACT */

.contact-main
{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1px;
}

.contact-main h1
{
    text-align: center;
    margin: 5px;
}

.contact-main>div
{
    display: grid;
    grid-template-columns: 30% 60%;
    column-gap: 10%;
}

.social-link
{
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
    grid-template-rows: 55%;
    height: 250px;
}

.social-account
{
    width: 110px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
}

.social-link button
{
    width: 110px;
    height: 110px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.social-link button i
{
    font-size: 60px;
    color: white
}

.social-link a #facebook
{
    background-color: var(--facebook-color);
}

.social-link a #linkedin
{
    background-color: var(--linkedin-color);
}
.social-link a #github
{
    background-color: var(--github-color);
}
.social-link #telephone
{
    background-color: var(--tel-color);
}

.social-link a #facebook:hover
{
    background-color: var(--facebook-hover-color);
}

.social-link a #linkedin:hover
{
    background-color: var(--linkedin-hover-color);
}
.social-link a #github:hover
{
    background-color: var(--github-hover-color);
}
.social-link #telephone:hover
{
    background-color: var(--tel-hover-color);
}

.contact-form
{
    height: 250px;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid var(--border-color);
}

.contact-form *
{
    font-size: 20px;
}

.form-input 
{
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-input label
{
    margin-bottom: 10px;
    font-weight: bold;
    padding: 5px;
}

.form-input input, .form-input textarea
{
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
}

.form-button
{
    text-align: right;
}

.form-button button
{
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
}

.form-button #send-button
{
    background-color: var(--send-button);
    color: white;
}

.form-button #send-button:hover
{
    background-color: var(--send-hover-button);
}

.form-button #reset-button
{
    background-color: var(--reset-button);
}

.form-button #reset-button:hover
{
    background-color: var(--reset-hover-button);
}

.form-button #send-button p, .form-button #send-button i
{
    color: white;
}

.form-button #reset-button p, .form-button #reset-button i
{
    color: var(--normal-text);
}

.form-alert
{
    display: none;
    position: absolute;
    height: 400px;
    width: 700px;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    box-shadow: 10px 10px 5px var(--border-color);
    background-color: white;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.alert-content
{
    padding: 10px;
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 5px;
}

.alert-content label
{
    margin-bottom: 10px;
    font-weight: bold;
    padding: 5px;
    font-size: 25px;
}

.alert-content input, .alert-content textarea
{
    border: 1px solid var(--readonly-border);
    margin-bottom: 10px;
    margin-right: 30px;
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
}

.form-alert p
{
    position: absolute;
    bottom: 70px;
    font-size: 20px;
    margin: 0px 30px;
    text-align: center;
    font-weight: bold;
}

.form-alert button
{
    position: absolute;
    bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    left: 50px;
    right: 50px;
    border-radius: 25px;
    border: none;
    background-color: var(--reset-button);
    padding: 5px;
}

.form-alert button:hover
{
    background-color: var(--reset-hover-button);
}

#opacity-form
{
    position: absolute;
    background-color: var(--normal-text);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    display: none;
}